{% extends 'base_page.html' %}
{% block title %}Créer un compte{% endblock title %}
{% block header_title %}Créer un compte{% endblock header_title %}
{% load widget_tweaks %}
{% block page_content %}

<section class="page-body bg-biscuit p-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <form class="font-weight-light mb-2 justify-content-center" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <p class="text-center">{{ field.label_tag }}</p>
                        {% render_field field class="form-control" %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="form-group text-center">
                        <button class="btn btn-primary js-scroll-trigger" type="submit">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}