{% extends 'base.html' %}

{% block content %}
<header class="bg-title">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">{% block header_title %}{% endblock header_title %}</h1>
            {% block header %}{% endblock %}
            <hr class="divider my-4">
        </div>
    </div>
</header>

{% block page_content %}{% endblock page_content %}
{% endblock content %}
